<% title "Settings" %>
<h3><%= "Settings" %></h3>
<normal><i>Any update will require your current password.</i></normal><br /><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if resource.errors.any? %>
    <div class="error-panel">
      <div class="heading">
        <h5>Resolve following <%= pluralize(resource.errors.count, "error") %>:</h5>
      </div>
      <div class="content">
        <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_name">Name
        <%= f.text_field :name, autofocus: true %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_email">Email
        <%= f.email_field :email %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_time_zone">Time Zone
        <%= f.time_zone_select :time_zone %>
      </label>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_password">Password
        <%= f.password_field :password, autocomplete: "off" %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_password_confirmation">Password confirmation
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_password_confirmation">Current password
        <%= f.password_field :current_password, autocomplete: "off" %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.submit "Update", data: { disable_with: "Updating..." }, class: "button small radius" %>
    </div>
  </div>
<% end %>
<%= link_to "Back", :back %><br /><br />
