<% title "Signup" %>
<h3><%= "Signup" %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{"data-abide" => ''}) do |f| %>
  <% if resource.errors.any? %>
    <div class="error-panel">
      <div class="heading">
        <h5>Resolve following <%= pluralize(resource.errors.count, "error") %>:</h5>
      </div>
      <div class="content">
        <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="seller_name">Name
        <%= f.text_field :name, autofocus: true, required: true %>
      </label>
      <small class="error">Enter name.</small>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="seller_email">Email
        <%= f.email_field :email, autofocus: true, required: true %>
      </label>
      <small class="error">A valid email id is required</small>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="user_time_zone">Time Zone
        <%= f.time_zone_select :time_zone %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="seller_password">Password
        <%= f.password_field :password, autocomplete: "off", required: true %>
      </label>
      <small class="error">Password is required</small>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 medium-6 columns">
      <label for="seller_password_confirmation">Password confirmation
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.submit "Sign up", data: { disable_with: "Please wait..." }, class: "button small radius" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
